html, body {
  background-color: transparent;
  height: 100%;
  overflow: hidden; 
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.scrollable-content {
  overflow-y: auto;
}

html {
  overscroll-behavior: none;
}